# Par défaut : tout changement requiert une review de ces personnes
*                          @MalikCherfi @bambstk

# Les workflows CI/CD ne peuvent être modifiés que par le lead DevOps
.github/workflows/         @MalikCherfi @bambstk

# Le fichier de dépendances requiert une validation technique
ressources/requirements.txt  @MalikCherfi @bambstk

# Les fichiers de sécurité requièrent une double validation
.github/dependabot.yml     @MalikCherfi
.github/CODEOWNERS         @MalikCherfi
